# .NET build output
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# React / Node
**/node_modules/
**/.next/
**/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log